body {
  margin: 0;
  padding: 0;
  background-color: #eee;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

ol {
  margin: 0;
  padding: 0;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.app {
  max-width: 600px;
  margin: 0 auto;
  padding: 5px;
  background-color: #fff;
}

.navbar {
  text-align: center;
}

.post-list {
  border-bottom: 1px solid #ccc;
}

.post {
  border: 1px solid #ccc;
  border-bottom: 0;
  padding: 0.75em;
  display: block;
  line-height: 1.4;
}

.post-header {

}

.post-picture {
  border-radius: 9px;
  height: 100px;
  width: 30%;
  background-size: cover;
  background-position: center;
  float: right;
}

.post-picture img {
  width: 100%;
}

.post-image-link {
  margin: 0 0.5em;
}

.post-tags {
  margin: 0.5em 0;
  font-size: 75%;
}

.post-tag {
  padding: 0.4em;
  background-color: #eee;
  border-radius: 3px;
}

.post-source {
  font-size: 75%;
}

.post-source-subreddit {
  font-weight: bold;
}

.post-source-author, .post-source-timestamp {
  color: #888;
  margin-left: 0.75em;
}

.post-reactions {
  margin-top: 1em;
}

.load-more-wrapper {
  margin: 1em;
  text-align: center;
}
